body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav {
  margin: 0%;
  padding: 0;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav--img {
  margin: 0;
  padding: 0;
  padding: 15px;
  padding-right: 4px;
  max-width: 24px;
}
.nav--text {
  margin: 0;
  color: white;
  font-size: 12px;
  padding: 15px;
  padding-left: 3px;
}
.card {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  padding: 8px 5px;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.37));
}
.card--img {
  margin: 0;
  padding: 15px 15px;
}
.card--pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.219));
}
.card--text {
  display: block;
  /* padding-top: 25px; */
}
.card--loc {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 2px;
}
.loc--icon {
  width: 20px;
  height: 20px;
  padding-right: 2px;
}
.card--country {
  padding: 0;
  padding-right: 2px;
  margin: 0;
  font-size: 18px;
}
.google {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.google a {
  text-decoration: none;
  color: black;
  text-decoration: black underline;
}
.place {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.place h4 {
  margin: 0;
  padding: 2px 2px;
}
.date {
  margin: 0;
  padding: 0;
  padding-top: 2px;
}
.date--date {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.des {
  margin: 0;
  padding: 4px 2px;
}

@media only screen and (max-width: 540px) {
  .card--pic {
    width: 120px;
    height: 250px;
  }
}
